@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
   
  body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
   
    display: flex;
    flex-direction: column;
  }

#container {
  width: 75%;
  float: left;
}

  .circle {
    width: 200px; 
    height: 300px; 
    border-radius: 100%; 
    object-fit: cover;
 }

 .risda {
    width: 200px; 
    height: 200px; 
    border-radius: 100%; 
    object-fit: cover;
 }
   
  header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    padding-block: 1rem;
    z-index: 999;
  }
   
  header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
  }
   
  header.navbar-container .nav-list li {
    list-style-type: none;
  }
   
  header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }
   
  header.navbar-container .nav-list li:hover a {
    background-color: #fcad03;
    color: white;
  }

  .gambar {
    width: auto;
    height: 500px;
    object-fit: cover;
    object-position: center;
    text-align: center;
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
  }

  main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
   
    display: flex;
    align-items: center;
  }

  main .content {
    flex: 1;
    display: flex;
    align-items: center;
  }
   
  main .content .content-description {
    flex: 1 1;
  }
   
  main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
  }
   
  main .content .content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: black;
   
    border: 3px solid transparent;
    background-color: #fcad03;
    cursor: pointer;
    transition: all .15s ease-in;
  }
   
  main .content .content-description button:hover {
    border: 3px solid black;
    color: black;
    background-color: transparent;
  }
   
  main .content .content-image {
    flex: 1;
    display: flex;
  }
   
  main .content .content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
  }

  main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }

 h1 {
    color: #fcad03;
 }

 p {
    text-align: justify;
}

 footer {
    padding: 20px;
    color: white;
    background-color: #fcad03;
    text-align: center;
 }

 #footer-text {
  text-align: center;
 }

 aside {
    float: right;
    width: 22%;
    text-align: center;
  }
  
  aside img {
    width: 200px;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }
   
    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }
   
    main {
      padding: 1rem 3rem;
    }
   
aside {
  margin-top: 20px;
  width: 90%;
  float: none;
}

#container {
  width: 100%;
  flex: none;
}

    .gambar {
      width: auto;
      height: 150px;
      /* object-fit: cover; */
      object-position: center;
      text-align: center;
  }

    main .content {
      flex-direction: column;
      gap: 2rem;
    }
   
    main .content .content-description .title {
      font-size: 3rem;
    }
   
    main .content .content-description p {
      font-size: 1rem;
    }
   
    main .content .content-image {
      order: -1;
    }
}